<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pc.sluicecontrol">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        tools:replace="Android:icon, android:theme, android:name"
        android:name=".common.ManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">       <!--style风格设置 notitle与屏幕常亮-->

        <activity android:name=".MainActivity222" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.pc.sluicecontrol.nanohttp.HttpService"/>

        <activity android:name=".RepairTetsActivty" android:screenOrientation="landscape"/>
        <activity android:name=".GateTetsActivty" android:screenOrientation="landscape"/>
        <activity android:name=".TrafficTetsActivty" android:screenOrientation="landscape"/>
        <activity android:name=".SensorTetsActivty" android:screenOrientation="landscape"/>
        <activity android:name=".DeviceSetActivty" android:screenOrientation="landscape"/>
        <activity android:name=".AppManageActivty" android:screenOrientation="landscape"/>
        <activity android:name=".ChangeServerActivty" android:screenOrientation="landscape"  android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".ParamsSetActivty" android:screenOrientation="portrait"/>

    </application>

</manifest>